{% extends 'home/signup.html' %}

{% load staticfiles %}
	{% block staticfiles %}
	<head>
		<link rel = "stylesheet" href = "{% static "home/css/index.css" %}">
		<link rel = "stylesheet" href = "{% static "account/css/settings.css" %}">
		<title>Settings</title>
	</head>
	{% endblock %}
{% block content %}
		<form  method="POST" enctype="multipart/form-data" action="{% url 'settings' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type='submit' value='Update' name='submit'>
		</form>
{% endblock %}
