<!doctype html>
<html>
	{% load staticfiles %}
	{% block staticfiles %}
	<head>
		<link rel = "stylesheet" href = "{% static "home/css/index.css" %}">
		<title>Signup</title>
	</head>
	{% endblock %}
	<body>
	{% block header %}
    			<header>
    				<a href="{% url 'home' %}"><img src="{% static 'common/images/air.png' %}"></a>
    			</header>
    {% endblock %}
    {% block content %}   
		<form method = 'POST' action = "{% url 'signup' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<p><input type = 'submit' name = 'submit' value='SIGN UP'></p>
		</form>
	{% endblock %}
	</body>
</html>
